.header-container {
    display: flex;
    align-items: center;
    background-color: rgb(72, 68, 68);
    height: 3em;
}

.navbar {
    flex-grow: 1;
}

ul {
    display: flex;

    li {
        list-style: none;
        margin: 1rem;

        a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 800;


            &:hover{
                border-bottom: 2px solid #000;
            }
        }
    }
}

li:nth-of-type(1) {
    margin-left: auto;
}

li:nth-of-type(4) {
    margin-left: auto;
}

.header-text h1 {
    margin-left: 1.5rem;
    color: #fff;
}

@media (max-width:800px) {
    ul {
        
        li {
            display: none;
    
            a {
                font-size: 12px;
            }
        }
    }
    li:nth-of-type(4) {
        margin-left: auto;
        display: block;
    }
    .header-text h1{
        margin-left: .5rem;
        color: #fff;
        font-size: 18px;
    }
    .navbar.active ul li {
        display: flex;
    }
}

@media (max-width:400px) {
    ul {
        
        li {
            display: none;
            margin: .75rem
    
            a {
                font-size: 8px;
            }
        }
    }
}